In [25]:
import pandas as pd
df=pd.read_csv('batting.csv')
df.head()

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St
0,temba bavuma,42,41,5,1611,144,44.75,1816,88.71,5,4,158,25,27,0
1,tony de,9,9,1,356,119*,44.50,386,92.22,1,1,29,14,0,0
2,heinrich klaasen,54,50,7,1723,174,40.06,1496,115.17,4,6,151,60,46,6
3,aiden markram,71,68,8,2213,175,36.88,2260,97.92,3,11,222,53,29,0
4,david miller,130,114,36,2591,106*,33.21,1842,140.66,2,8,168,130,82,1

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   8 non-null      object
 1   Matches  8 non-null      int64
 2   Innings  8 non-null      int64
 3   NO       8 non-null      int64
 4   Runs     8 non-null      int64
 5   HS       8 non-null      object
 6   Average  8 non-null      float64
 7   BF       8 non-null      int64
 8   Sr       8 non-null      float64
 9   100s     8 non-null      int64
 10  50s      8 non-null      int64
 11  4s       8 non-null      int64
 12  6s       8 non-null      int64
 13  Ct       8 non-null      int64
 14  St       8 non-null      int64
dtypes: float64(2), int64(11), object(2)
memory usage: 1.1+ KB

In [27]:
df['HS']=df['HS'].str.split('*').str[0]
df.head()

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St
0,temba bavuma,42,41,5,1611,144,44.75,1816,88.71,5,4,158,25,27,0
1,tony de,9,9,1,356,119,44.50,386,92.22,1,1,29,14,0,0
2,heinrich klaasen,54,50,7,1723,174,40.06,1496,115.17,4,6,151,60,46,6
3,aiden markram,71,68,8,2213,175,36.88,2260,97.92,3,11,222,53,29,0
4,david miller,130,114,36,2591,106,33.21,1842,140.66,2,8,168,130,82,1

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
weights={'Matches':0.2,'Average': 0.2,'HS':0.1,'NO':0.2,'100s':0.2,'50s':0.1}
scaler=MinMaxScaler()
normalized_data = scaler.fit_transform(df[['Matches','Average', 'HS','NO','100s','50s']])
df_normalized = pd.DataFrame(normalized_data, columns=['Matches', 'Average', 'HS','NO','100s','50s'])
df['Weighted Score'] = (
    df_normalized['Matches'] * weights['Matches'] +
    df_normalized['Average'] * weights['Average'] +
    df_normalized['HS'] * weights['HS'] +
    df_normalized['NO'] * weights['NO'] +
    df_normalized['100s'] * weights['100s'] +
    df_normalized['50s'] * weights['50s']
)

In [30]:
df

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St,Weighted Score
0,temba bavuma,42,41,5,1611,144,44.75,1816,88.71,5,4,158,25,27,0,0.486620
1,tony de,9,9,1,356,119,44.50,386,92.22,1,1,29,14,0,0,0.222868
2,heinrich klaasen,54,50,7,1723,174,40.06,1496,115.17,4,6,151,60,46,6,0.486717
3,aiden markram,71,68,8,2213,175,36.88,2260,97.92,3,11,222,53,29,0,0.493259
4,david miller,130,114,36,2591,106,33.21,1842,140.66,2,8,168,130,82,1,0.567117
5,ryan rickelton,5,5,0,152,91,30.40,172,88.37,0,1,10,5,6,2,0.000000
6,tristan stubbs,7,7,2,248,112,49.60,275,90.18,1,1,13,8,2,0,0.269064
7,rassie van,65,59,11,2398,134,49.95,2758,86.94,6,14,187,41,26,0,0.708302

In [31]:
largest=df.nlargest(5,'Weighted Score')
largest

,Player,Matches,Innings,NO,Runs,HS,Average,BF,Sr,100s,50s,4s,6s,Ct,St,Weighted Score
7,rassie van,65,59,11,2398,134,49.95,2758,86.94,6,14,187,41,26,0,0.708302
4,david miller,130,114,36,2591,106,33.21,1842,140.66,2,8,168,130,82,1,0.567117
3,aiden markram,71,68,8,2213,175,36.88,2260,97.92,3,11,222,53,29,0,0.493259
2,heinrich klaasen,54,50,7,1723,174,40.06,1496,115.17,4,6,151,60,46,6,0.486717
0,temba bavuma,42,41,5,1611,144,44.75,1816,88.71,5,4,158,25,27,0,0.486620

In [32]:
df2=pd.read_csv('bowling.csv')
df2

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w
0,ottneil baartman,12,12,264,327,17,4/11,4/11,19.23,7.43,15.5,1,0,0
1,keshav maharaj,44,43,2216,1686,55,4/33,4/33,30.65,4.56,40.2,2,0,0
2,kwena maphaka,3,6,365,272,13,3/24,6/78,20.92,4.47,28.0,0,0,0
3,kagiso rabada,101,99,5171,4361,157,6/16,6/16,27.77,5.06,32.9,6,2,0
4,tabraiz shamsi,51,48,2481,2284,72,5/49,5/49,31.72,5.52,34.4,3,1,0

In [33]:
df2['WpM']=df2['Wickets']/df2['Matches']
df2

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w,WpM
0,ottneil baartman,12,12,264,327,17,4/11,4/11,19.23,7.43,15.5,1,0,0,1.416667
1,keshav maharaj,44,43,2216,1686,55,4/33,4/33,30.65,4.56,40.2,2,0,0,1.250000
2,kwena maphaka,3,6,365,272,13,3/24,6/78,20.92,4.47,28.0,0,0,0,4.333333
3,kagiso rabada,101,99,5171,4361,157,6/16,6/16,27.77,5.06,32.9,6,2,0,1.554455
4,tabraiz shamsi,51,48,2481,2284,72,5/49,5/49,31.72,5.52,34.4,3,1,0,1.411765

In [34]:
weights2={'Matches':0.2,'Economy': 0.2,'WpM':0.4,'5w':0.2}
scaler=MinMaxScaler()
normalized_data2 = scaler.fit_transform(df2[['Matches','Economy','WpM','5w']])
df_normalized2 = pd.DataFrame(normalized_data2, columns=['Matches','Economy','WpM','5w'])
df_normalized2['Economy']=1-df_normalized2['Economy']
df2['Weighted Score'] = (
    df_normalized2['Matches'] * weights2['Matches'] +
    df_normalized2['Economy'] * weights2['Economy'] +
    df_normalized2['WpM'] * weights2['WpM'] +
    df_normalized2['5w'] * weights2['5w']
)

In [35]:
df2

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w,WpM,Weighted Score
0,ottneil baartman,12,12,264,327,17,4/11,4/11,19.23,7.43,15.5,1,0,0,1.416667,0.039989
1,keshav maharaj,44,43,2216,1686,55,4/33,4/33,30.65,4.56,40.2,2,0,0,1.250000,0.277592
2,kwena maphaka,3,6,365,272,13,3/24,6/78,20.92,4.47,28.0,0,0,0,4.333333,0.600000
3,kagiso rabada,101,99,5171,4361,157,6/16,6/16,27.77,5.06,32.9,6,2,0,1.554455,0.599632
4,tabraiz shamsi,51,48,2481,2284,72,5/49,5/49,31.72,5.52,34.4,3,1,0,1.411765,0.347999

In [36]:
bowlers=df2.nlargest(3,'Weighted Score')
bowlers

,Player,Matches,Innings,Balls,Runs,Wickets,BBI,BBM,Ave,Economy,SR,4w,5w,10w,WpM,Weighted Score
2,kwena maphaka,3,6,365,272,13,3/24,6/78,20.92,4.47,28.0,0,0,0,4.333333,0.600000
3,kagiso rabada,101,99,5171,4361,157,6/16,6/16,27.77,5.06,32.9,6,2,0,1.554455,0.599632
4,tabraiz shamsi,51,48,2481,2284,72,5/49,5/49,31.72,5.52,34.4,3,1,0,1.411765,0.347999

In [45]:

def findBatsmen(n):
    import pandas as pd
    df=pd.read_csv('batting.csv')
    df['HS']=df['HS'].str.split('*').str[0]
    weights={'Matches':0.2,'Average': 0.2,'HS':0.1,'NO':0.2,'100s':0.2,'50s':0.1}
    scaler=MinMaxScaler()
    normalized_data = scaler.fit_transform(df[['Matches','Average', 'HS','NO','100s','50s']])
    df_normalized = pd.DataFrame(normalized_data, columns=['Matches', 'Average', 'HS','NO','100s','50s'])
    df['Weighted Score'] = (
        df_normalized['Matches'] * weights['Matches'] +
        df_normalized['Average'] * weights['Average'] +
        df_normalized['HS'] * weights['HS'] +
        df_normalized['NO'] * weights['NO'] +
        df_normalized['100s'] * weights['100s'] +
        df_normalized['50s'] * weights['50s']
    )
    batsmen=df.nlargest(n,'Weighted Score')
    bat=batsmen['Player'].to_numpy()
    return bat


def findBowler(n):
    import pandas as pd
    df2=pd.read_csv('bowling.csv')
    df2['WpM']=df2['Wickets']/df2['Matches']
    weights2={'Matches':0.2,'Economy': 0.2,'WpM':0.4,'5w':0.2}
    scaler=MinMaxScaler()
    normalized_data2 = scaler.fit_transform(df2[['Matches','Economy','WpM','5w']])
    df_normalized2 = pd.DataFrame(normalized_data2, columns=['Matches','Economy','WpM','5w'])
    df_normalized2['Economy']=1-df_normalized2['Economy']
    df2['Weighted Score'] = (
        df_normalized2['Matches'] * weights2['Matches'] +
        df_normalized2['Economy'] * weights2['Economy'] +
        df_normalized2['WpM'] * weights2['WpM'] +
        df_normalized2['5w'] * weights2['5w']
    )
    bowlers=df2.nlargest(n,'Weighted Score')
    return bowlers['Player'].to_numpy()
    
    
def findAllrounder(n):
    import pandas as pd
    df=pd.read_csv('allRounder.csv')
    df['HS']=df['HS'].str.split('*').str[0]
    try:
        df['Wickets']=df['Wickets'].str.split('*').str[0]
    except:
        print("error ignored...")
        
    df['Wickets']=df['Wickets'].astype(int)
    # print(df['Wickets'])
    df['WpM']=df['Wickets']/df['Matches']
    weights={'Matches':0.05,'Average': 0.25,'100s':0.15,'50s':0.05,'Economy':0.15,'WpM':0.25,'5w':0.1}
    scaler=MinMaxScaler()
    normalized_data = scaler.fit_transform(df[['Matches','Average','100s','50s','Economy','WpM','5w']])
    df_normalized = pd.DataFrame(normalized_data, columns=['Matches', 'Average','100s','50s','Economy','WpM','5w'])
    df_normalized['Economy']=1-df_normalized['Economy']
    df['Weighted Score'] = (
        df_normalized['Matches'] * weights['Matches'] +
        df_normalized['Average'] * weights['Average'] +
        df_normalized['100s'] * weights['100s'] +
        df_normalized['Economy'] * weights['Economy'] +
        df_normalized['WpM'] * weights['WpM'] +
        df_normalized['5w'] * weights['5w'] 
    )
    allRounder=df.nlargest(n,'Weighted Score')
    middleOrder=allRounder['Player'].to_numpy()
    return middleOrder

In [46]:
import numpy as np
def makeTeam(n1,n2,n3):
    top=findBatsmen(n1)
    bottom=findBowler(n2)
    middle=findAllrounder(n3)
    team=np.append(top,middle)
    team=np.append(team,bottom)
    return team

* TODO
* Find a way to predict number of batsman, bowler and all rounder
* expand this idea to odis and T20s doneeeee
* Come up with more techniques to increase accuracy..

In [47]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
df=pd.read_csv('teamData.csv')
df.head()

  Team Venue  Batters  Bowlers  AllRounders
0  RSA   RSA        5        4            2
1  IND   RSA        4        4            3
2   NZ    NZ        5        3            3
3  ENG    NZ        5        3            3
4  AUS   AUS        5        4            2

In [48]:
X=df[['Team','Venue']]
y=df[['Batters','Bowlers','AllRounders']]

X=pd.get_dummies(X) #red hot encoding..

In [49]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,shuffle=True)
model=RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [52]:
prediction=model.predict(X_test)
prediction[:5],y_test[:5]

(array([[6, 3, 2],
        [4, 4, 3],
        [2, 3, 6],
        [5, 3, 3],
        [6, 3, 2]]),
      Batters  Bowlers  AllRounders
 121        6        4            1
 170        5        3            3
 31         2        3            6
 140        6        3            2
 146        4        2            5)

In [56]:
new_match = pd.DataFrame({'Venue': ['AUS'], 'Team': ['IND']})
new_match = pd.get_dummies(new_match).reindex(columns=X.columns, fill_value=0)
predicted_batsmen = model.predict(new_match)
team=makeTeam(predicted_batsmen[0][0],predicted_batsmen[0][1],predicted_batsmen[0][2])
team

array(['virat kohli', 'rohit sharma', 'rishabh pant', 'yashasvi jaiswal',
       'kl rahul', 'shubman gill', 'nitish kumar', 'ravindra jadeja',
       'jasprit bumrah', 'mohammed siraj', 'akash deep'], dtype=object)